@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo {
    text-shadow: #fc0 1px 0 10px;
  }
}

.nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  color: white;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color: inherit;
  font-size: 2rem;
}
